.img-container {
  /* default */
  transform: scale(1); 
  /*  크롬 */
  -webkit-transform: scale(1);
  /* FireFox */
  -moz-transform: scale(1);

  -ms-transform: scale(1);
  /* Opera */
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.img-container:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: black;
  transition:all .3s linear;    
}

.img-container:hover img {
  filter: brightness(40%);
}

.play-btn {
  position:absolute;
  top: 180px;
  left:115px;     
  opacity:0;
  transform:scale(3);
  transition:all .4s linear;
  background-color: transparent;
  border: 0px;
  color: white;
}


.card-img-overlay:hover .play-btn {
  opacity:2;
  transform:scale(2);
}

.card-title {
  opacity: 0;  
  transition:all .4s linear;   
  transform:scale(1.4);  
}


.card-img-overlay:hover .card-title {
  opacity:2;  
  transform:scale(1);
}