.play-btn {
  position:absolute;
  bottom:10px;
  right:10px;
  background:red;
  width:55px;
  height:55px;
  border-radius:50%;
  text-align:center;
  /* 추가된 부분 */
  opacity:0;
  transform:scale(2);
  transition:all .3s linear;
}

.card-main-body:hover .darkness{
  opacity:0.4;
}

.card-main-body:hover .play-btn {
  opacity:1;
  transform:scale(1);
}