.main-container {
  /* default */
  transform: scale(1); 
  /*  크롬 */
  -webkit-transform: scale(1);
  /* FireFox */
  -moz-transform: scale(1);

  -ms-transform: scale(1);
  /* Opera */
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.main-container:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


.play-btn {
  position:absolute;
  bottom:10px;
  right:10px;     
  opacity:0;
  transform:scale(2);
  transition:all .4s linear;
  background-color: transparent;
  border: 0px;
  color: white;
}


.card-img-overlay:hover .play-btn {
  opacity:2;
  transform:scale(1);
}