{% extends 'base.html' %}
{% load static %}


{% block style %}
{% endblock  %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
  <h1 class="">Movies</h1>  
  <div class="row row-cols-1 row-cols-sm-4 row-cols-md-6 g-4">        
    <div class="main-container col">
      <div class="img-container card bg-dark text-white" style="width: 18rem;">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/b8gz7UKMwMz39mz6EH5Jjicjdth.jpg" class="card-img img-thumbnail" alt="...">
        <div class="card-img-overlay d-flex align-items-end">
          <h5 class="text card-title">Card title</h5>     
          <button class="play-btn">Play</button>     
        </div>
      </div>
    </div>
    <div class="main-container col">
      <div class="img-container card bg-dark text-white" style="width: 18rem;">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/clnyhPqj1SNgpAdeSS6a6fwE6Bo.jpg" class="card-img img-thumbnail" class="card-img img-thumbnail" alt="...">
        <div class="card-img-overlay d-flex align-items-end">
          <h5 class="text card-title">Card title</h5>     
          <button class="play-btn">Play</button>     
        </div>
      </div>
    </div>
    <div class="main-container col">
      <div class="img-container card bg-dark text-white" style="width: 18rem;">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/h9fjtMeoaI3LrW8avMZoJPoniLZ.jpg" class="card-img img-thumbnail" class="card-img img-thumbnail" alt="...">
        <div class="card-img-overlay d-flex align-items-end">
          <h5 class="text card-title">Card title</h5>     
          <button class="play-btn">Play</button>     
        </div>
      </div>
    </div>
    <div class="main-container col">
      <div class="img-container card bg-dark text-white" style="width: 18rem;">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/14L4NGrqO4r7gJtVRiSRP5rNsL5.jpg" class="card-img img-thumbnail" alt="...">
        <div class="card-img-overlay d-flex align-items-end">
          <h5 class="text card-title">Card title</h5>     
          <button class="play-btn">Play</button>     
        </div>
      </div>
    </div>
    <div class="main-container col">
      <div class="img-container card bg-dark text-white" style="width: 18rem;">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/7qU0SOVcQ8BTJLodcAlulUAG16C.jpg" class="card-img img-thumbnail" alt="...">
        <div class="card-img-overlay d-flex align-items-end">
          <h5 class="text card-title">Card title</h5>     
          <button class="play-btn">Play</button>     
        </div>
      </div>
    </div>
    <div class="main-container col">
      <div class="img-container card bg-dark text-white" style="width: 18rem;">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/epxfP6YaUEOflSuKMAT6LhdPiqk.jpg" class="card-img img-thumbnail" alt="...">
        <div class="card-img-overlay d-flex align-items-end">
          <h5 class="text card-title">Card title</h5>     
          <button class="play-btn">Play</button>     
        </div>
      </div>
    </div>  
</body>
  


{% endblock %}
 

<style>

</style>
