{% extends 'base.html' %}
{% load static %}


{% block style %}
{% endblock  %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>   
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-5 ms-4">      
    {% for movie in movies  %}  
      <div class="main-container col mb-4">
        <div class="img-container card bg-dark text-white" style="width: 18rem;">          
          <img src={{ "https://www.themoviedb.org/t/p/w300_and_h450_bestv2"|add:movie.poster_path }} class="card-img img-thumbnail" alt="포스터 이미지">
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="text card-title">{{ movie.title }}</h5>
            <button class="play-btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{movie.pk}}"><i class="bi bi-play-circle fs-1"></i></button>     
          </div>
        </div>
      </div>
    
    {% comment %} Modal {% endcomment %}
      <div class="modal fade bg-dark" id="exampleModal{{movie.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ movie.title }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <a href={{ "https://www.youtube.com/embed/"|add:movie.trailer_path }}></a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a class="btn btn-primary" role="button" href="{% url 'movies:detail' movie.pk %}">Go to Movie Detail</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </body>
  


{% endblock %}
 

<style>

</style>
