{% extends 'base.html' %}

{% block content %}
<head class="mb-5">
  <div class="mb-5"></div>
</head>
<div class="ms-5 mt-5">  
  <h1 class="mb-3 ">비밀번호변경</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <h4 class="mt-3">기존 비밀번호 : 기존 비밀번호를 입력해 주세요.</h4>
    {{form.old_password}}
    <h4 class="mt-3">새로운 비밀번호 : 새로운 비밀번호를 입력해 주세요.</h4>    {{form.new_password1}}
    <div class="ms-3 mt-2">
      <p class="text-danger">!주의</p>
      <p>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</p>
      <p>비밀번호는 최소 8자 이상이어야 합니다.</p>
      <p>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</p>
      <p>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</p>
    </div>
    <h4 class="mt-3">새로운 비밀번호 확인 : </h4>    {{form.new_password2}}  
    <br>      
    <button class="btn btn-dark mt-5">비밀번호 변경하기</button>
  </form>
</div>
{% endblock content %}
