{% extends 'base.html' %}
{% load static %}

{% block content %}
<div  class="ms-5" style="margin: 100px auto;">
  <h1>QUIZ INDEX</h1>
  <div class="mx-5 mt-3">
    <a class="card mb-3" href="{% url 'quizzes:sin_index' %}">
      <img src="{% static 'logo-img/single-mode-logo.gif' %}" class="card-img-top" alt="...">    
    </a>
    <a class="card">
      <div>
      </div>  
        <img src="{% static 'logo-img/recreation-logo.gif' %}" class="card-img-top" alt="...">    
    </a>
  </div>
</div>

{% endblock %}
 