<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>Movies</title>
    {% block style %}
    {% endblock %}
  </head>
  <body>

    <!-- Example Code -->
    
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white fs-2" href="{% url 'movies:index'%}">Movies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">          
          <div class="offcanvas-header flex-column">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            {% if user.is_authenticated %}          
            <h5 class="offcanvas-title fs-1 mt-1" id="offcanvasNavbarLabel">Hello, {{ user.username }}</h5>
            {% else %}      
            <h6 class="offcanvas-title fs-1 mt-1" id="offcanvasNavbarLabel">Please, Login</h6>      
            {% endif %}
          </div>
          <div class="offcanvas-body ">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              {% if user.is_authenticated %}  
              <li class="nav-item">
                <form action="{% url 'accounts:update' %}" method="GET">
                  {% csrf_token %}
                  <input class="bg-transparent text-dark border-0 text-start"type="submit" value="회원정보 수정">
                </form>
              </li>                
              <form action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <input class="bg-transparent text-dark border-0 text-start"type="submit" value="Logout">
              </form>
              <hr>
              {% else %}
              <li class="nav-item">
                <a class="nav-link active text-dark text-decoration-none" aria-current="page" href="{% url 'accounts:signup' %}" style="margin-left: 5px;">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-dark text-decoration-none" aria-current="page" href="{% url 'accounts:login' %}" style="margin-left: 5px;">Login</a>
              </li>
              <hr>
              {% endif %}             
              <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="{% url 'movies:index'%}" style="margin-left: 5px;">Home</a>
              </li>             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="{% url 'quizzes:index'%}" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 5px;">
                  Quizzes
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                  <li><a class="dropdown-item" href="#">SingleMode</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">RecreationMode</a></li>                  
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>        
    <div></div>
 
    {% block content %}
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block script %}
    {% endblock script %}
  </body>
</html>

